# Japheth Ehijie Eromon MARCH Cohort DAF

# Exploratory Data Analysis On US Census Data
This dataset contains population data for countries and states in the
US from 2010 to 2015.

In [2]:
# Importing necessary libraries
import pandas as pd
import numpy as np

# For visuals
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Importing the Dataset
df = pd.read_csv(r'C:\Users\User\Desktop\As a Data Analyst\Quantum Analytics\Projects\FINAL PROJECTS\Python Projects\census.csv')
df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

# Data Inspection

In [3]:
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [4]:
df.describe()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
count,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,...,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000
mean,49.840276,2.668650,5.191356,30.259004,101.918572,1.933871e+05,1.933969e+05,1.937657e+05,1.952514e+05,1.967445e+05,...,-1.639167,-2.528381,-1.288083,-2.271925,-1.362607,-0.655205,-1.445775,-0.200419,-1.038960,-0.096759
std,1.253884,0.807513,1.973991,15.153897,107.626583,1.176201e+06,1.176244e+06,1.178710e+06,1.189648e+06,1.200508e+06,...,10.407267,11.871798,12.186844,11.440505,12.301558,10.613259,12.228155,12.200064,11.471743,12.265772
min,40.000000,1.000000,1.000000,1.000000,0.000000,8.200000e+01,8.200000e+01,8.300000e+01,9.000000e+01,8.100000e+01,...,-128.205128,-147.727273,-109.876862,-178.947368,-84.844838,-128.205128,-147.727273,-102.988031,-178.947368,-62.322703
25%,50.000000,2.000000,4.000000,18.000000,33.000000,1.129900e+04,1.129900e+04,1.127500e+04,1.127700e+04,1.119500e+04,...,-6.153101,-7.561799,-6.323058,-7.357497,-6.696825,-5.354221,-6.851764,-5.426357,-6.221820,-5.553088
50%,50.000000,3.000000,5.000000,29.000000,77.000000,2.642400e+04,2.644600e+04,2.646700e+04,2.641700e+04,2.636200e+04,...,-1.544618,-2.549859,-1.771445,-1.988101,-2.026566,-0.626174,-1.537988,-0.788296,-0.911948,-0.872527
75%,50.000000,3.000000,7.000000,45.000000,133.000000,7.140400e+04,7.149100e+04,7.172100e+04,7.238700e+04,7.249600e+04,...,2.901204,2.626611,3.392786,3.333927,3.794291,4.062151,3.962629,4.700873,4.580444,5.013928
max,50.000000,4.000000,9.000000,56.000000,840.000000,3.725396e+07,3.725450e+07,3.733408e+07,3.770003e+07,3.805606e+07,...,101.123596,119.193807,239.130435,146.367943,281.407035,101.123596,119.861185,239.130435,146.960126,281.407035

In [6]:
df.shape

(3193, 100)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3193 entries, 0 to 3192
Data columns (total 100 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SUMLEV                 3193 non-null   int64
 1   REGION                 3193 non-null   int64
 2   DIVISION               3193 non-null   int64
 3   STATE                  3193 non-null   int64
 4   COUNTY                 3193 non-null   int64
 5   STNAME                 3193 non-null   object
 6   CTYNAME                3193 non-null   object
 7   CENSUS2010POP          3193 non-null   int64
 8   ESTIMATESBASE2010      3193 non-null   int64
 9   POPESTIMATE2010        3193 non-null   int64
 10  POPESTIMATE2011        3193 non-null   int64
 11  POPESTIMATE2012        3193 non-null   int64
 12  POPESTIMATE2013        3193 non-null   int64
 13  POPESTIMATE2014        3193 non-null   int64
 14  POPESTIMATE2015        3193 non-null   int64
 15  NPOPCHG_2010           3193 non-null   int64
 16  NPOPCHG_2011           3193 non-null   int64
 17  NPOPCHG_2012           3193 non-null   int64
 18  NPOPCHG_2013           3193 non-null   int64
 19  NPOPCHG_2014           3193 non-null   int64
 20  NPOPCHG_2015           3193 non-null   int64
 21  BIRTHS2010             3193 non-null   int64
 22  BIRTHS2011             3193 non-null   int64
 23  BIRTHS2012             3193 non-null   int64
 24  BIRTHS2013             3193 non-null   int64
 25  BIRTHS2014             3193 non-null   int64
 26  BIRTHS2015             3193 non-null   int64
 27  DEATHS2010             3193 non-null   int64
 28  DEATHS2011             3193 non-null   int64
 29  DEATHS2012             3193 non-null   int64
 30  DEATHS2013             3193 non-null   int64
 31  DEATHS2014             3193 non-null   int64
 32  DEATHS2015             3193 non-null   int64
 33  NATURALINC2010         3193 non-null   int64
 34  NATURALINC2011         3193 non-null   int64
 35  NATURALINC2012         3193 non-null   int64
 36  NATURALINC2013         3193 non-null   int64
 37  NATURALINC2014         3193 non-null   int64
 38  NATURALINC2015         3193 non-null   int64
 39  INTERNATIONALMIG2010   3193 non-null   int64
 40  INTERNATIONALMIG2011   3193 non-null   int64
 41  INTERNATIONALMIG2012   3193 non-null   int64
 42  INTERNATIONALMIG2013   3193 non-null   int64
 43  INTERNATIONALMIG2014   3193 non-null   int64
 44  INTERNATIONALMIG2015   3193 non-null   int64
 45  DOMESTICMIG2010        3193 non-null   int64
 46  DOMESTICMIG2011        3193 non-null   int64
 47  DOMESTICMIG2012        3193 non-null   int64
 48  DOMESTICMIG2013        3193 non-null   int64
 49  DOMESTICMIG2014        3193 non-null   int64
 50  DOMESTICMIG2015        3193 non-null   int64
 51  NETMIG2010             3193 non-null   int64
 52  NETMIG2011             3193 non-null   int64
 53  NETMIG2012             3193 non-null   int64
 54  NETMIG2013             3193 non-null   int64
 55  NETMIG2014             3193 non-null   int64
 56  NETMIG2015             3193 non-null   int64
 57  RESIDUAL2010           3193 non-null   int64
 58  RESIDUAL2011           3193 non-null   int64
 59  RESIDUAL2012           3193 non-null   int64
 60  RESIDUAL2013           3193 non-null   int64
 61  RESIDUAL2014           3193 non-null   int64
 62  RESIDUAL2015           3193 non-null   int64
 63  GQESTIMATESBASE2010    3193 non-null   int64
 64  GQESTIMATES2010        3193 non-null   int64
 65  GQESTIMATES2011        3193 non-null   int64
 66  GQESTIMATES2012        3193 non-null   int64
 67  GQESTIMATES2013        3193 non-null   int64
 68  GQESTIMATES2014        3193 non-null   int64
 69  GQESTIMATES2015        3193 non-null   int64
 70  RBIRTH2011             3193 non-null   float64
 71  RBIRTH2012             3193 non-null   float64
 72  RBIRTH2013             3193 non-null   float64
 73  RBIRTH2014             3193 non-null   float64
 74  RBIRTH2015             3193 non-null   float64
 75  RDEATH2011             3193 non-null   float64
 76  RDEATH2012             3193 non-null   float64
 77  RDEATH2013             3193 non-null   float64
 78  RDEATH2014             3193 non-null   float64
 79  RDEATH2015             3193 non-null   float64
 80  RNATURALINC2011        3193 non-null   float64
 81  RNATURALINC2012        3193 non-null   float64
 82  RNATURALINC2013        3193 non-null   float64
 83  RNATURALINC2014        3193 non-null   float64
 84  RNATURALINC2015        3193 non-null   float64
 85  RINTERNATIONALMIG2011  3193 non-null   float64
 86  RINTERNATIONALMIG2012  3193 non-null   float64
 87  RINTERNATIONALMIG2013  3193 non-null   float64
 88  RINTERNATIONALMIG2014  3193 non-null   float64
 89  RINTERNATIONALMIG2015  3193 non-null   float64
 90  RDOMESTICMIG2011       3193 non-null   float64
 91  RDOMESTICMIG2012       3193 non-null   float64
 92  RDOMESTICMIG2013       3193 non-null   float64
 93  RDOMESTICMIG2014       3193 non-null   float64
 94  RDOMESTICMIG2015       3193 non-null   float64
 95  RNETMIG2011            3193 non-null   float64
 96  RNETMIG2012            3193 non-null   float64
 97  RNETMIG2013            3193 non-null   float64
 98  RNETMIG2014            3193 non-null   float64
 99  RNETMIG2015            3193 non-null   float64
dtypes: float64(30), int64(68), object(2)
memory usage: 2.4+ MB

In [10]:
df.columns

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME',
       'CENSUS2010POP', 'ESTIMATESBASE2010', 'POPESTIMATE2010',
       'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013',
       'POPESTIMATE2014', 'POPESTIMATE2015', 'NPOPCHG_2010', 'NPOPCHG_2011',
       'NPOPCHG_2012', 'NPOPCHG_2013', 'NPOPCHG_2014', 'NPOPCHG_2015',
       'BIRTHS2010', 'BIRTHS2011', 'BIRTHS2012', 'BIRTHS2013', 'BIRTHS2014',
       'BIRTHS2015', 'DEATHS2010', 'DEATHS2011', 'DEATHS2012', 'DEATHS2013',
       'DEATHS2014', 'DEATHS2015', 'NATURALINC2010', 'NATURALINC2011',
       'NATURALINC2012', 'NATURALINC2013', 'NATURALINC2014', 'NATURALINC2015',
       'INTERNATIONALMIG2010', 'INTERNATIONALMIG2011', 'INTERNATIONALMIG2012',
       'INTERNATIONALMIG2013', 'INTERNATIONALMIG2014', 'INTERNATIONALMIG2015',
       'DOMESTICMIG2010', 'DOMESTICMIG2011', 'DOMESTICMIG2012',
       'DOMESTICMIG2013', 'DOMESTICMIG2014', 'DOMESTICMIG2015', 'NETMIG2010',
       'NETMIG2011', 'NETMIG2012', 'NETMIG2013', 'NETMIG2014', 'NETMIG2015',
       'RESIDUAL2010', 'RESIDUAL2011', 'RESIDUAL2012', 'RESIDUAL2013',
       'RESIDUAL2014', 'RESIDUAL2015', 'GQESTIMATESBASE2010',
       'GQESTIMATES2010', 'GQESTIMATES2011', 'GQESTIMATES2012',
       'GQESTIMATES2013', 'GQESTIMATES2014', 'GQESTIMATES2015', 'RBIRTH2011',
       'RBIRTH2012', 'RBIRTH2013', 'RBIRTH2014', 'RBIRTH2015', 'RDEATH2011',
       'RDEATH2012', 'RDEATH2013', 'RDEATH2014', 'RDEATH2015',
       'RNATURALINC2011', 'RNATURALINC2012', 'RNATURALINC2013',
       'RNATURALINC2014', 'RNATURALINC2015', 'RINTERNATIONALMIG2011',
       'RINTERNATIONALMIG2012', 'RINTERNATIONALMIG2013',
       'RINTERNATIONALMIG2014', 'RINTERNATIONALMIG2015', 'RDOMESTICMIG2011',
       'RDOMESTICMIG2012', 'RDOMESTICMIG2013', 'RDOMESTICMIG2014',
       'RDOMESTICMIG2015', 'RNETMIG2011', 'RNETMIG2012', 'RNETMIG2013',
       'RNETMIG2014', 'RNETMIG2015'],
      dtype='object')

In [16]:
# Checking for missing values
df.isnull().sum()

SUMLEV         0
REGION         0
DIVISION       0
STATE          0
COUNTY         0
              ..
RNETMIG2011    0
RNETMIG2012    0
RNETMIG2013    0
RNETMIG2014    0
RNETMIG2015    0
Length: 100, dtype: int64

In [17]:
# Checking for duplicates
df.duplicated().value_counts()

False    3193
dtype: int64

### Obersvation

The data looks clean as there are no null values, no duplicates either

# Data Exploration

# Question 1: Which state has the most counties in it?

In [4]:
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [24]:
# Count the number of counties in each state
county_counts = df.groupby('STNAME').size()
print(county_counts)

STNAME
Alabama                  68
Alaska                   30
Arizona                  16
Arkansas                 76
California               59
Colorado                 65
Connecticut               9
Delaware                  4
District of Columbia      2
Florida                  68
Georgia                 160
Hawaii                    6
Idaho                    45
Illinois                103
Indiana                  93
Iowa                    100
Kansas                  106
Kentucky                121
Louisiana                65
Maine                    17
Maryland                 25
Massachusetts            15
Michigan                 84
Minnesota                88
Mississippi              83
Missouri                116
Montana                  57
Nebraska                 94
Nevada                   18
New Hampshire            11
New Jersey               22
New Mexico               34
New York                 63
North Carolina          101
North Dakota             54
Ohio                     89
Oklahoma                 78
Oregon                   37
Pennsylvania             68
Rhode Island              6
South Carolina           47
South Dakota             67
Tennessee                96
Texas                   255
Utah                     30
Vermont                  15
Virginia                134
Washington               40
West Virginia            56
Wisconsin                73
Wyoming                  24
dtype: int64

In [25]:
#Find the maximum county
max_counties = county_counts.max()
print(max_counties)

255

In [26]:
# Find the state with the maximum number of counties
state_with_max_counties = county_counts[county_counts == max_counties].index[0]
print(state_with_max_counties)

Texas

In [27]:
print(f'The state with the most counties is {state_with_max_counties} with {max_counties} counties.')

The state with the most counties is Texas with 255 counties.

# Question 2: Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Using CENSUS2010POP

In [38]:
# Convert the population column to integers
df['CENSUS2010POP'] = df['CENSUS2010POP'].astype(int)
df['CENSUS2010POP'].describe()

count    3.193000e+03
mean     1.933871e+05
std      1.176201e+06
min      8.200000e+01
25%      1.129900e+04
50%      2.642400e+04
75%      7.140400e+04
max      3.725396e+07
Name: CENSUS2010POP, dtype: float64

In [44]:
# Group the data by state and sum the population for each state
populations = df.groupby('STNAME')['CENSUS2010POP'].sum()
populations

STNAME
Alabama                  9559472
Alaska                   1420462
Arizona                 12784034
Arkansas                 5831836
California              74507912
Colorado                10058392
Connecticut              7148194
Delaware                 1795868
District of Columbia     1203446
Florida                 37602620
Georgia                 19375306
Hawaii                   2720602
Idaho                    3135164
Illinois                25661264
Indiana                 12967604
Iowa                     6092710
Kansas                   5706236
Kentucky                 8678734
Louisiana                9066744
Maine                    2656722
Maryland                11547104
Massachusetts           13095258
Michigan                19767280
Minnesota               10607850
Mississippi              5934594
Missouri                11977854
Montana                  1978830
Nebraska                 3652682
Nevada                   5401102
New Hampshire            2632940
New Jersey              17583788
New Mexico               4118358
New York                38756204
North Carolina          19070966
North Dakota             1345182
Ohio                    23073008
Oklahoma                 7502702
Oregon                   7662148
Pennsylvania            25404758
Rhode Island             2105134
South Carolina           9250728
South Dakota             1628360
Tennessee               12692210
Texas                   50291122
Utah                     5527770
Vermont                  1251482
Virginia                15995826
Washington              13449080
West Virginia            3705988
Wisconsin               11373972
Wyoming                  1127252
Name: CENSUS2010POP, dtype: int32

In [43]:
# Sort the data by population in descending order
populations = populations.sort_values(ascending=False)
populations

STNAME
California              74507912
Texas                   50291122
New York                38756204
Florida                 37602620
Illinois                25661264
Pennsylvania            25404758
Ohio                    23073008
Michigan                19767280
Georgia                 19375306
North Carolina          19070966
New Jersey              17583788
Virginia                15995826
Washington              13449080
Massachusetts           13095258
Indiana                 12967604
Arizona                 12784034
Tennessee               12692210
Missouri                11977854
Maryland                11547104
Wisconsin               11373972
Minnesota               10607850
Colorado                10058392
Alabama                  9559472
South Carolina           9250728
Louisiana                9066744
Kentucky                 8678734
Oregon                   7662148
Oklahoma                 7502702
Connecticut              7148194
Iowa                     6092710
Mississippi              5934594
Arkansas                 5831836
Kansas                   5706236
Utah                     5527770
Nevada                   5401102
New Mexico               4118358
West Virginia            3705988
Nebraska                 3652682
Idaho                    3135164
Hawaii                   2720602
Maine                    2656722
New Hampshire            2632940
Rhode Island             2105134
Montana                  1978830
Delaware                 1795868
South Dakota             1628360
Alaska                   1420462
North Dakota             1345182
Vermont                  1251482
District of Columbia     1203446
Wyoming                  1127252
Name: CENSUS2010POP, dtype: int32

In [52]:
# Get the top 3 most populous states
top_3_states = populations.sort_values(ascending=False).head(3)
top_3_states

STNAME
California    74507912
Texas         50291122
New York      38756204
Name: CENSUS2010POP, dtype: int32

In [53]:
# Print the result in order of highest to lowest population
print(f'The three most populous states are: {top_3_states.index[0]} ({top_3_states[0]:,}), {top_3_states.index[1]} ({top_3_states[1]:,}), and {top_3_states.index[2]} ({top_3_states[2]:,}).')

The three most populous states are: California (74,507,912), Texas (50,291,122), and New York (38,756,204).

# Question 3: Which City has the most counties in it?

In [28]:
# Count the number of counties in each city
county_counts_city = df.groupby('CTYNAME').size()
print(county_counts_city)

CTYNAME
Abbeville County             1
Acadia Parish                1
Accomack County              1
Ada County                   1
Adair County                 4
                            ..
Yukon-Koyukuk Census Area    1
Yuma County                  2
Zapata County                1
Zavala County                1
Ziebach County               1
Length: 1927, dtype: int64

In [29]:
#Find the maximum county number in a city
max_counties_city = county_counts_city.max()
print(max_counties_city)

30

In [30]:
# Find the city with the maximum number of counties
city_with_max_counties = county_counts_city[county_counts_city == max_counties_city].index[0]
print(city_with_max_counties)

Washington County

In [31]:
print(f'The city with the most counties is {city_with_max_counties} with {max_counties_city} counties.')

The city with the most counties is Washington County with 30 counties.

# Question 4: Which region has the most division in it?

In [32]:
# Count the number of counties in each state
division_counts = df.groupby('REGION').size()
print(division_counts)

REGION
1     226
2    1067
3    1439
4     461
dtype: int64

In [33]:
#Find the maximum division
max_division = division_counts.max()
print(max_division)

1439

In [34]:
# Find the Region with the maximum number of divisions
region_with_max_division = division_counts[division_counts == max_division].index[0]
print(region_with_max_division)

3

In [36]:
print(f'The region with the most divisions is Region {region_with_max_division} with {max_division} divsions.')

The region with the most divisions is Region 3 with 1439 divsions.